@{
    Layout = "_LayoutForuserPanel";
}

@model LinkTree.Models.UserDTO.User

<link href="~/css/controllpanel.css" rel="stylesheet" />
<link href="~/css/uploadimg.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.css">

<div class="main-content">
    <!-- Top navbar -->
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(https://www.searchenginejournal.com/wp-content/uploads/2021/06/8-creative-ways-to-earn-or-build-links-to-your-site-60c778090d7da-1520x800.webp); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col-lg-7 col-md-10">
                    <h1 class="display-2 text-white">Hello @Model.UserName</h1>
                    <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
                    <a href="#!" class="btn btn-info">Edit profile</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                <div class="card card-profile shadow">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="#">
                                    @if (Model.Picture != null && Model.Picture.Length > 0)
                                    {
                                        string base64Image = Convert.ToBase64String(Model.Picture);
                                        string imageSource = string.Format("data:image/png;base64,{0}", base64Image);
                                        <img src="@imageSource" class="rounded-circle" />
                                    }
                                    else
                                    {
                                        <img src="/Images/Navbar/user.png" class="rounded-circle">
                                    }
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body pt-0 pt-md-4">

                        <div class="text-center">
                            <h3>
                                @Model.UserName<span class="font-weight-light"></span>
                            </h3>
                            <div class="h5 font-weight-300">
                                <i class="ni location_pin mr-2"></i>@Model.Role
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 order-xl-1">
                <div class="card bg-secondary shadow">
                    <div class="card-header bg-white border-0">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">My account</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                            <h6 class="heading-small text-muted mb-4">User information</h6>
                            <div class="pl-lg-4">
                            <form asp-action="ChangeNumberOrUserName" method="post">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label">Username</label>
                                            <input type="text" asp-for="UserName" class="form-control form-control-alternative" placeholder="Username" value="@Model.UserName">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label">Email address</label>
                                            <input type="email" asp-for="Email" class="form-control form-control-alternative" placeholder="@Model.Email" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label">Phone Number</label>
                                            <input type="text" asp-for="PhoneNumber" class="form-control form-control-alternative" placeholder="+995-577-602-399" value="@Model.PhoneNumber">
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-info">Save</button>
                            </form>
                            </div>
                            <hr class="my-4">
                            <!---- Password  -->
                            <h6 class="heading-small text-muted mb-4">User Password</h6>
                            <div class="pl-lg-4">
                            <form asp-action="Changepassword" method="post" onsubmit="return validatePassword()">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-username">Old Password</label>
                                            <input type="password" name="oldpassword" class="form-control form-control-alternative" placeholder="Old Password">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">New Password</label>
                                            <input type="password" id="newpassword" name="newpassword" class="form-control form-control-alternative" placeholder="New Password">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-first-name">Confirm Password</label>
                                            <input type="password" id="confirmpassword" name="confirmpassword" class="form-control form-control-alternative" placeholder="Confirm Password">
                                            <span id="passwordError" style="color: red;"></span>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-info">Change Password</button>
                            </form>

                            <script>
                                function validatePassword() {
                                    var newPassword = document.getElementById("newpassword").value;
                                    var confirmPassword = document.getElementById("confirmpassword").value;

                                    // Check if the passwords match
                                    if (newPassword !== confirmPassword) {
                                        document.getElementById("passwordError").innerText = "Passwords do not match.";
                                        return false; // Prevent form submission
                                    } else {
                                        document.getElementById("passwordError").innerText = ""; // Clear error message
                                        return true; // Allow form submission
                                    }
                                }
                            </script>

                            </div>
                            <hr class="my-4">
                            <!-- Address -->
                            <h6 class="heading-small text-muted mb-4">Profile Image</h6>
                        <form asp-action="uploadimg" method="post">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="confirm-identity">
                                                <div class="ci-user d-flex align-items-center justify-content-center">
                                                    <div class="ci-user-picture">
                                                        @if (Model.Picture != null && Model.Picture.Length > 0)
                                                        {
                                                            string base64Image = Convert.ToBase64String(Model.Picture);
                                                            string imageSource = string.Format("data:image/png;base64,{0}", base64Image);
                                                            <img src="@imageSource" id="item-img-output" class="imgpreviewPrf img-fluid" alt="" />
                                                        }
                                                        else
                                                        {
                                                            <img src="/Images/Navbar/user.png" id="item-img-output" class="imgpreviewPrf img-fluid" alt="">
                                                        }
                                                    </div>
                                                </div>
                                                <div class="ci-user-btn text-center mt-4">
                                                    <a href="javascript:;" class="userEditeBtn btn-default bg-blue position-relative">
                                                        <input type="file"  class="item-img file center-block filepreviewprofile">
                                                        Update Profile Photo
                                                    </a>
                                                </div>
                                                <br>
                                                <button type="submit" class="btn btn-info">Upload/change Profile Picture</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal fade cropImageModal" id="cropImagePop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <button type="button" class="close-modal-custom" data-dismiss="modal" aria-label="Close"><i class="feather icon-x"></i></button>
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body p-0">
                                            <div class="modal-header-bg"></div>
                                            <div class="up-photo-title">
                                                <h3 class="modal-title">Update Profile Photo</h3>
                                            </div>
                                            <div class="up-photo-content pb-5">

                                                <div id="upload-demo" class="center-block">
                                                    <h5><i class="fas fa-arrows-alt mr-1"></i> Drag your photo as you require</h5>
                                                </div>
                                                <div class="upload-action-btn text-center px-2">
                                                    <button type="button" id="cropImageBtn" class="btn btn-default btn-medium bg-blue px-3 mr-2">Save Photo</button>
                                                    <button type="button" class="btn btn-default btn-medium bg-default-light px-3 ml-sm-2 replacePhoto position-relative">Replace Photo</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







<script>

    function validatePassword() {
        var newPassword = document.getElementById("newpassword").value;
        var confirmPassword = document.getElementById("confirmpassword").value;

        // Check if the passwords match
        if (newPassword !== confirmPassword) {
            document.getElementById("passwordError").innerText = "Passwords do not match.";
            return false; // Prevent form submission
        } else {
            document.getElementById("passwordError").innerText = ""; // Clear error message
            return true; // Allow form submission
        }
    }
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script src="~/js/profileimgupload.js"></script>